
html {
  margin: 0 0 0 0;
  width:100%;
  height: 100%;                       /* note #1 */
}
body{
margin: 0 0 0 0;
width:100%;
height:100%;
font-family: 'Lato', Arial, sans-serif;
  color: #989c9b;
}


.navbar{
  background-color: #4d5181;
  width:100%;
  height:70px;
  list-style-type: none;
}
.logo{
margin-left:50px;
height:70px;
width:auto;

float: left;
}

.title{
    margin:0 0 0 0;
    padding-top:15px;
    font-size:20px;
    color:white;
    font-family:arial;

}
.subtitle{
    margin:0 0 0 0;
    padding-top:1px;
    font-size:14px;
    color:white;
    font-family:arial;

}

li {
  float: left;
}

li a:hover {
  color: #15E1B6;
  text-decoration: underline;
}

li a {
  display: block;
  color: white;
  font-size:18px;
  font-family:arial;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
  font-weight: bold;
}

#links{
float:right;
margin-right:40px;
margin-top:-33px;
}

.name-score{
width:100%;
text-align:center;
}

.name{
font-size:25px;
margin-bottom:0;
}

.score{
margin-top:5px;
font-size:23px;
}

.game{
width:40%;
height:150px;
margin-left:5%;
margin-right:4.8%;
margin-top:20px;
margin-bottom:20px;
padding: 0px;
border:solid 1px;
border-radius: 5px;
float:left;
}

.img{
width:30%;
height:150px;
padding:0 0px 0 0;
float:left;
}
.title-score{
border:solid 1px;
width:70%;
height:150px;
margin-left:30%;
}
.game-title{
color:black;
font-size:35px;
padding:0;
margin-top:10px;
margin-bottom:0;
margin-left:5%;
}
.score-value,
.solved{
color:black;
font-size:25px;
padding:0;
margin-bottom:0px;
margin-top:5px;
margin-left:5%;
}
.solved{
float:left;
margin-top:5px;
}

.yesorno{
width:20px;
height:20px;
margin-top:7px;
}

.play{
height:40px;
  align-items: center;
  background-color: #444579;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family:arial;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-left:0;
  margin-right:0;
  margin-top:20px;
  width:50%;

  float:right;
}

.play:hover{
  background-color: #22233c;
  color: #ffffff;
}